In [22]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day28-column-transformer/covid_toy.csv')

In [3]:
df.sample(5)

    age  gender  fever   cough       city has_covid
32   34  Female  101.0  Strong      Delhi       Yes
12   25  Female   99.0  Strong    Kolkata        No
52   47  Female  100.0  Strong  Bangalore       Yes
45   72    Male   99.0    Mild  Bangalore        No
54   60  Female   99.0    Mild     Mumbai       Yes

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [23]:
from sklearn.compose import ColumnTransformer

In [25]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [29]:
transformer.fit_transform(x_train).shape

(80, 7)

In [30]:
transformer.transform(x_train).shape

(80, 7)